#descripcion .ui-block-a {
    width: 40% !important;
}

#descripcion .ui-block-b {
    width: 60% !important;
    text-align: center;
}

#descripcion img {
    width: 95%;
    height: auto;
}

#preciovotar .ui-block-a {
    text-align: center;
}

#preciovotar .ui-block-b {
    text-align: center;
}


#ubicacion, #map-canvas { width: 100%;
                          height: 100%;
                          padding: 0; }

.ui-header {
    background: url('../images/preciosa_header.png') no-repeat scroll 40px 10px #28a1d8 !important;
    color: #FFFFFF !important;
    text-shadow: 0 0px !important;
}

.ui-header .ui-title {
   margin-left: 125px !important;
   text-align: left !important;
    width: 100% !important;
}

.ui-header .ui-title:before {
  content: " | ";
}