<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.preciosa"
        version   = "0.1.0">
    <name>Preciosa</name>

    <description>
        Precios de Argentina
    </description>

    <author href="http://mgaitan.github.io" email="gaitan@gmail.com">
        Martin Gaitan
    </author>

    <gap:plugin name="com.phonegap.plugins.barcodescanner"/>

    <feature name="http://api.phonegap.com/1.0/device" />
    <feature name="debug-server" required="true">
       <param name="domain" value="http://debug.phonegap.com"/>
       <param name="key" value="willoughby"/>
    </feature>

    <preference name="phonegap-version" value="3.1.0" />
    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />
    <preference name="webviewbounce"    value="false" />

    <icon src="images/icon.png" />

    <!-- content src="http://www.w3.org/2010/05/video/mediaevents.html" / -->
</widget>
